@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
    box-sizing: border-box;
  }
html {
  background: whitesmoke;
}
body {
  overflow-x: scroll;
  margin: 0 auto;
  padding: 0;
  min-height: 40em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* min-width: 60em to fit three cards horizontal*/
  @media (width >= 60em) { 
    flex-direction: row;
    /* 3d effectje op de kaartjes */
    perspective: 1000px;
  }
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Containment/Container_queries */
}

/* MAIN */
/* card */
main { 
  position: relative;
  max-width: 20em;
  height: 30em;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url(/assets/bg.jpg) black;
  background-size: cover;

  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px, 
    inset 0 0 0 10px black, 
    inset 0 0 0 12px white;

  transition: all 0.5s ease;

  /* titel */
  h1 { 
    margin: 0;
    margin-bottom: 2rem;
    
    text-align: center;
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 1.06em;
    color: white;
  }
}
/* animatie op de main als er meer info wordt geklikt */
.move main {
  margin-top: 2em;
  transform:rotate(3deg);

  @media (width >= 60em) {
    margin-top: 0;
    transform: rotateY(-20deg);
  }
}

/* ASIDE */
/* extra info */
aside { 
  position: relative;
  max-width: 20rem;
  height: 30rem;
  margin-top: -30em;
  margin-left: 1em;
  @media (width >= 60em) {
    margin-top: 0;
    margin-left: -20em;
  }
  padding: 1em 2em;
  z-index: 2;

  transform:rotate(-4deg);

  background: url(/assets/bg.jpg) black;
  background-size: cover;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: whitesmoke;
  
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px, 
    inset 0 0 0 10px black, 
    inset 0 0 0 12px white;

  transition: all 0.5s ease;
}
.move aside {
  margin-top:0;
  @media (width >= 60em) {
    margin-left: 0;
    transform: rotateY(20deg) translateX(-20px);
  }
}

/* FOOTER */
/* contact info en links */
footer {
  position: relative;
  max-width: 20rem;
  height: 30rem;
  margin-top: -30em;
  margin-left: 1em;
  @media (width >= 60em) {
    margin-top: 0;
    margin-left: -20em;
  }
  padding: 1em 2em;
  z-index: 1;
  
  transform:rotate(4deg);
  @media (width >= 60em) {
    transform:rotate(8deg);
  }
  background: url(/assets/bg.jpg) black;
  background-size: cover;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: whitesmoke;

  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px, 
  inset 0 0 0 10px black, 
  inset 0 0 0 12px white;

  transition: all 0.5s ease 0.8s;
}
.move footer {
  margin-top:0;
  @media (width >= 60em) {
    margin-left: 0;
    width: 18rem;
    transform: rotateY(-20deg) translateX(-40px);
  }
}



/* BUTTON */
/* Meer info */
button {
  /* position: relative; */
  /* display: block;  */
  width: 75px;
  height: 25px;
  margin: 4em 0;
  scroll-margin-bottom: 4em;
  padding: 4px 12px;
  align-self: center;

  @media (width >= 60em) {
    position: absolute;
    right: -7rem;
    bottom: -3rem;
  }

  font-family: "Pixelated MS Sans Serif",Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  /* 98.css https://github.com/jdan/98.css */

  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
    
    /* active state */
    &:active {
      box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
      padding: 2px 11px 0 13px;
    }
}
/* label "meer" bij button */
img[src*=meer] {
  visibility: hidden;
  @media (width >= 60em) {
    visibility:visible;
  }

  position: absolute;
  right: -8rem;
  bottom: 1rem;

  transform: scale(0.6);
}
/* label "Wat is dat?" helper */
/* delayed animation, show after 8 sec */
img[src*=watisdat] {
  position: absolute;
  left: -15rem;
  top: 10rem;

  transform: scale(0.85);

  opacity: 0;

  /* dit alleen laten zien op schermen met een muis die hovert */
  @media (hover: hover) {
    animation: slidein 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 8s;
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    left: -15rem;
  }
  to {
    opacity: 1;
    left: -13rem;
  }
}

/* SECTION KOP */
/* plaatjes en hover interactie */
section#kop { 
  position: relative;

  img { /* kop img */
    width: 100%;
    padding: 12px;

    border-radius: 1rem;
  }

  /* hit area voor de hover 
  met de blup*/
  div#hit { 
    position: absolute;
    top: 52%;
    left: 19%;
    padding: 1rem;

    /* de blup animatie */
    div#blup { /* blup ding */
      margin: 0;
      width: 2rem; 
      height: 2rem;
      display: inline-block;

      background: rgba(255,255,255,0.2);
      border: 0.1em solid white;
      border-radius: 50%;
      
      animation: pulse 2s infinite;
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


h2 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}  
a {
  color: white;
}
a:hover, a:focus{
  background: whitesmoke;
  color: black;
}
li {
  margin-top: 0;
  padding-top: 0;
  background: pink;
}
.rollover {
  background: rgba(255,255,255,0.9);
}
.hide {
    opacity: 0;
}
.none {
  display: none;
}
.cursorpointer {
  cursor: pointer;
}
.cursornone {
  cursor: none;
}
