@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
    box-sizing: border-box;
  }
html{
  background: whitesmoke;
}
body{
  overflow-y: scroll;
  min-width: 60em;
  margin: 0 auto;
  padding: 0;
  /background: pink;
  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 1000px;
}

main{ /* card */
  width: 20em;
  height: 30em;
  background: url(/assets/bg.jpg) black;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /object-fit: none;
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px, 
    inset 0 0 0 10px black, 
    inset 0 0 0 12px white;

  z-index: 3;
  transition: all 0.5s ease;
}
.move main {
  transform: rotateY(-20deg);
}
h1{ /* titel */
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 1.06em;
  color: white;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  /* background: pink; */
}
/* Meer info */
button{
  position: absolute;
  right: -7rem;
  bottom: -2rem;
  
  /* 98.css https://github.com/jdan/98.css */
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  min-height: 23px;
  min-width: 75px;
  padding: 0 12px;
  font-family: "Pixelated MS Sans Serif",Arial;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
button:active{
  box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
  padding: 2px 11px 0 13px;
}
img[src*=meer]{
  position: absolute;
  right: -8rem;
  bottom: -0.5rem;
  transform: scale(0.6);
}
/* "Wat is dat?" label helper
delayed animation, show after 8 sec
*/
img[src*=watisdat]{
  position: absolute;
  left: -15rem;
  top: 10rem;
  transform: scale(0.85);
  opacity: 0;
  /* dit alleen laten zien op schermen met een muis die hovert */
  @media (hover: hover) {
    animation: slidein 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 8s;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    left: -15rem;
  }

  to {
    opacity: 1;
    left: -13rem;
  }
}
section#kop{ 
  position: relative;
}
section img{ /* kop img */
  width: 100%;
  border-radius: 1rem;
  padding: 12px;
}
div#hit{ /* hit */
  position: absolute;
  top: 52%;
  left: 19%;
  padding: 1rem;
}
div#blup{ /* blup ding */
  margin: 0;
  width: 2rem; 
  height: 2rem;
  background: rgba(255,255,255,0.2);
  border: 0.1em solid white;
  border-radius: 50%;
  display: inline-block;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

aside{ /* extra info */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: whitesmoke;
  padding: 1em 2em;
  width: 20rem;
  height: 30rem;
  background: url(/assets/bg.jpg) black;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px, 
    inset 0 0 0 10px black, 
    inset 0 0 0 12px white;

  z-index: 2;
  margin-left: -20em;
  transform:rotate(-4deg);
  transition: all 0.5s ease;
}
.move aside {
  margin-left: 0;
  transform: rotateY(20deg) translateX(-20px);
}

footer{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: whitesmoke;
  padding: 1em 2em;
  width: 20rem;
  height: 30rem;
  background: url(/assets/bg.jpg) black;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px, 
  inset 0 0 0 10px black, 
  inset 0 0 0 12px white;

  z-index: 1;
  margin-left: -20em;
  transform:rotate(10deg);
  transition: all 0.5s ease 0.8s;
}
.move footer {
  margin-left: 0;
  width: 18rem;
  transform: rotateY(-20deg) translateX(-40px);
}

h2{
  margin-bottom: 0;
}
p{
  margin-top: 0;
}  
a{
  color: white;
}
a:hover, a:focus{
  background: whitesmoke;
  color: black;
}
li{
  margin-top: 0;
  padding-top: 0;
  background: pink;
}
.rollover{
  background: rgba(255,255,255,0.9);
}
.hide{
    opacity: 0;
}
.none{
  display: none;
}
.cursorpointer{
  cursor: pointer;
}
.cursornone{
  cursor: none;
}
